@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab Thin"),
  url("./fonts/RobotoSlab/Roboto Slab Thin 250.ttf") format("truetype");
  font-weight: 250;
}
@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab Light"),
  url("./fonts/RobotoSlab/Roboto Slab Light 300.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab"),
  url("./fonts/RobotoSlab/Roboto Slab Regular 400.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab Bold"),
  url("./fonts/RobotoSlab/Roboto Slab Bold 700.ttf") format("truetype");
  font-weight: Bold;
}
@font-face {
  font-family: "Aqua";
  src: local("Aqua"),
  url("./fonts/Aqua/aqua.ttf") format("truetype");
  font-weight: normal;
}

body {
   margin: 0;
   font-family: "Roboto Slab Thin",BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
   sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
    padding-top: 10px;
 }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}